list

http://www.avajava.com/tutorials/categories/servlets
http://www.mkyong.com/spring3/spring-3-mvc-hello-world-example/
http://static.springsource.org/spring/docs/3.0.0.M3/spring-framework-reference/html/ch18s03.html