<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>location write</title>
		<script type="text/javascript">
			
		</script>
    </head>
    <body> 
    <table border="1">
     #foreach($entity in $list)
    <tr>
    <td><a href="view?id=$entity.id">$entity.name</a></td>
    <td><button onclick="location.href='delete?id=$entity.id'">delete</button></td>
    <td><button onclick="location.href='update?id=$entity.id'">update</button></td>
    </tr>
        #end
    </table>
        <button onclick="location.href='write'">쓰기</button>
        <button onclick="location.href='list?order=name'">정렬</button>
    </body>
</html>