<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>book read</title>
		<script type="text/javascript">
			
		</script>
    </head>
    <body>
        name  : ${book.name}  
        <br/>
        price : ${book.price}
        <br/>
        purchaseprice : ${book.purchaseprice}
        <br/>
        publishdate : ${book.publishdate}
        <br/>
        purchasedate : ${book.purchasedate}
        <br/>
        wheretobuy : ${book.wheretobuy}
        <br/>
        pages : ${book.pages}
        <br/>
        formtype : ${book.formtype.name}
        <br/>
        location : ${book.location.name}
        <br/>
        publisher : ${book.publisher.name}
        <br/>
          tag : 
        #foreach($entity in $book.tags)
	     $entity.name ,
        #end
       <br/>
       translator : ${book.translator.name}
    	 <button onclick="location.href='list'">list </button>
    </body>
    
</html>