<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>author write</title>
		<script type="text/javascript">
			
		</script>
    </head>
    <body>
        <form action="write.do" method="post" id="frm">
        <table>
   	     		<tr>
   		     			<td>name :</td>
   	   	  			<td><input type="text" name="name" value="$!book.name" autofocus="autofocus" required="required" /></td>
   	   	  		</tr>
   	   	  		<tr>
   	   	  			<td>cost :</td>
   	   			  	<td><input type="text" name="cost" value="$!book.cost" autofocus="autofocus" required="required" /></td>
   	   		  </tr>
				<tr>
					<td>location :</td>
					<td>
						 <select name="location_id">
						 #foreach($entity in $locationList)
						 <option value="$!entity.id">$!entity.name</option>
						 #end
						 </select>
					</td>
				</tr>         
				<tr>
					<td>publisher :</td>
					<td><select name="publisher_id">
					#foreach($entity in $publisherList)
					<option value="$!entity.id">$!entity.name</option>
					#end
					</select> </td>
				</tr>
				#*
				<tr>
					<td>translator :</td>
					<td> <select name="translator"><option value="백기선">백기선씨</option></select>  </td>
				</tr>
				*#
          </table>                    
			<button>submit</button>
        </form>
    </body>
</html>