<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>publisher write</title>
		<script type="text/javascript">
			
		</script>
    </head>
    <body>
        name : ${publisher.name}  
    	 <button onclick="location.href='list'">list </button>
    </body>
    
</html>